* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  color: grey;
}

a {
  text-decoration: none;
  color: grey;
}

li {
  list-style: none;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__title {
  width: 14rem;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.header__title--small {
  font-size: medium;
}

.header__title--capitalize {
  text-transform: capitalize;
}

.nav__list {
  display: flex;
  gap: 2rem;
  padding: 1rem;
}

.nav__list--right {
  margin-left: 23.2rem;
}

.nav__list--border-top {
  border-top: .2rem solid blue;
}

.nav__item {
  list-style: none;
}

.nav__link {
  text-transform: capitalize;
}

.header__main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 4rem 0;
}

.header__img {
  width: 30rem;
  height: 30rem;
  background-color: grey;
}

.header__content {
  width: 30rem;
}

.header__text {
  margin-bottom: 1rem;
}

.line {
  width: 5rem;
  margin: 1rem 0;
  border: .1rem solid grey;
}

.btn {
  padding: 1rem 4rem;
  text-transform: uppercase;
  background-color: blue;
  color: white;
  border: none;
  font-weight: 600;
  font-size: 1rem;
}