* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: blueviolet;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: white;
}

.nav__list {
  display: flex;
  gap: 2rem;
}

.nav__item {
  list-style: none;
}

.nav__link {
  text-transform: capitalize;
  color: white;
}