* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  color: grey;
}

a {
  text-decoration: none;
  color: grey;
}

li {
  list-style: none;
}

.header__contact {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: black;
  color: white;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.title {
  width: 14rem;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.title--small {
  font-size: medium;
}

.title--medium {
  font-size: x-large;
  width: 25rem;
}

.title--large {
  font-size: 5rem;
}
.title--width {
  width: 20rem;
}

.title--capitalize {
  text-transform: capitalize;
}

.list {
  display: flex;
  gap: 2rem;
  padding: 1rem;
}

.list--bg-transparent {
  background-color: transparent;
}

.list--right {
  margin-left: 23.2rem;
}

.list--m-top-negative {
  margin-top: -8rem;
}

.list--center {
  justify-content: center;
}

.list__link {
  text-transform: capitalize;
}

.list__item {
  background-color: whitesmoke;
}

.list__item:hover {
  background-color: orange;
  color: white;
}

.list__title {
  font-weight: bold;
}

.list__title--m-top-bottom {
  margin: .5rem 0;
}

.list__item-wrapper {
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list__icon {
  font-size: 5rem;
}

.content-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 4rem;
}

.content-block--my {
  margin: 5rem auto;
}

.img--large {
  width: 30rem;
  height: 30rem;
}

.img--medium {
  width: 25rem;
  height: 12rem;
}

.img--width-full {
  width: 100%;
}

.img--height {
  height: 25rem;
}

.img--height-plus {
  height: 35rem;
}

.content-wrapper {
  width: 30rem;
}

.content__text {
  margin-bottom: 1rem;
}

.line {
  width: 5rem;
  margin: 1rem 0;
  border: .1rem solid grey;
}

.btn {
  padding: 1rem 4rem;
  text-transform: uppercase;
  background-color: blue;
  color: white;
  border: none;
  font-weight: 600;
  font-size: 1rem;
}

.btn:hover {
  color: blue;
  background-color: transparent;
  border: 1px solid blue;
}

.our-service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact__title {
  margin-bottom: 1.5rem;
}

.form {
  width: 30rem;
}

.form__item {
  display: grid;
  gap: .5rem;
}

.form__item + .form__item {
  margin-top: 1rem;
}

.form__input {
  padding: .5rem;
}

.form__btn {
  margin-top: 1rem;
}

.footer {
  display: grid;
  background-color: #020249;
  color: white;
}

.footer__title {
  width: 100%;
  text-align: center;
}

.footer__contact {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5rem;
}

.footer__icon-container {

}

.footer__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  background-color: blue;
  border-radius: 999px;
}

.footer__icon {
  color: white;
}