* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  color: grey;
}

a {
  text-decoration: none;
  color: grey;
}

li {
  list-style: none;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title {
  width: 14rem;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.title--small {
  font-size: medium;
}

.title--large {
  font-size: 5rem;
}

.title--capitalize {
  text-transform: capitalize;
}

.list {
  display: flex;
  gap: 2rem;
  padding: 1rem;
}

.list--right {
  margin-left: 23.2rem;
}

.list--border-top {
  border-top: .2rem solid blue;
}

.list__link {
  text-transform: capitalize;
}

.list__item {
  width: 30rem;
}

.list__item-wrapper {
  padding: 1rem 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 4rem 0;
}

.img { 
  background-color: grey;
}

.img--large {
  width: 30rem;
  height: 30rem;
}

.img--medium {
  width: 25rem;
  height: 12rem;
}

.img--width-full {
  width: 100%;
}

.header__content {
  width: 30rem;
}

.header__text {
  margin-bottom: 1rem;
}

.line {
  width: 5rem;
  margin: 1rem 0;
  border: .1rem solid grey;
}

.btn {
  padding: 1rem 4rem;
  text-transform: uppercase;
  background-color: blue;
  color: white;
  border: none;
  font-weight: 600;
  font-size: 1rem;
}